@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h2 {
    font-family: "Pretendard";
    font-size: 1.75rem;
    font-weight: bold;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.disable-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.disable-scrollbar::-webkit-scrollbar {
  display: none;
}

.subtitle {
  font-family: "Pretendard";
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.paragraph {
  font-family: "Pretendard";
  font-size: 1rem;
}

@media (min-width: 640px) {
  .subtitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
  }

  .paragraph {
    font-size: 1.25rem;
    line-height: 1.625;
  }
}
