@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
.h2 {
    font-family: "Pretendard";
    font-size: 1.75rem;
    font-weight: bold;
}
.subtitle {
    font-family: "Pretendard";
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
}
.paragraph {
    font-family: "Pretendard";
    font-size: 1.25rem;
    line-height: 1.625;
}
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.disable-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.disable-scrollbar::-webkit-scrollbar {
    display: none;
}